body{
        font-family: 'Fira Sans Condensed', sans-serif;
}
/*sobrescribiendo class de bootstrap para que no haya margen inferior con la navegacion*/
.container{
    padding-right: 60px;
    padding-left: 60px;
    margin-right: auto;
    margin-left: auto;
    background-color: #b00910;  
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.page-header{
    margin: 20px 0px 0px 0px ;
    /*background-image: url("https://yt3.ggpht.com/YEKCYc6KjImHT3ASnvn-3SY_iE2D5WbR9wmTLKGEcECBMpHg8D5DxJ0LDfcgh0icU-ZfroDjG-U=w1060-fcrop64=1,00005a57ffffa5a8-nd-c0xffffffff-rj-k-no");
     background-color: transparent; */ 
     /*background: #b00910 url("http://estatico.clubaindependiente.com/img/fondos/_banda_r.jpg");*/
     /*background: #b00910 url("http://estatico.clubaindependiente.com/img/fondos/hd_rayos.png");*/
     /*border-radius: 4px;*/
     border-bottom: 0;   
   
}

.page-header  h1 {
    color: white;
    text-shadow: rgba(0,0,0,.5) 4px 4px 4px;
}
#escudo {
    max-width: 82px;
    max-height: 73px;
}

.nav  li {
    margin-right: 17px;
    margin-left: 17px;
}
.dropdown-menu > li{
    background-color: #b00910;
    text: white;
}
.carousel-caption{
    background: rgba(255,255,255,.6);
    padding: 4px 8px;
    box-shadow: 3px;
    border-radius: 6px;
}
.carousel-inner h3, p{
   /*color: #333;*/
   color: #2c2c2c;
}
.art img,  .thumbnail a > img{
    position: relative; 
    width: 100%;
   /* max-height: 272px;*/
   height: 100%;
}
img{
    width: 100%;
}
.carousel img{
    max-height: 400px;
    margin-bottom: 30px;

}



