@{
    ViewBag.Title = "Home Page";
}



<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>


    <!-- Wrapper for slides -->

    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/img/rojo_goleada_racing_carou.jpg" alt="goleada del rojo">
            <div class="carousel-caption">
                <!-- caption es la leyenda o subtitulo -->
                <h3>Triunfo con goleada</h3>
                <p>El rojo ganó con comodidad</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/img/independiente_1994.jpg" alt="Indipendiente 1994">
            <div class="carousel-caption">
                <h3>Aniversario</h3>
                <p>Se cumplen 22 años de la primer Supercopa</p>
            </div>

        </div>
        <div class="item">
            <img src="~/Content/img/techo-rojo.jpg" alt="Indipendiente 1994">
            <div class="carousel-caption">
                <h3>La CD quiere techar el estadio</h3>
                <p>Lorem ipsum dolor sit amet...</p>
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<!-- End carousel -->

<div class="row">
    <div class="art col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/rojo_goleada_racing.jpg" alt="...">
            <div class="caption">
                <h3>El rojo ganó el clasico por goleada</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repellat repellendus sint eos aut obcaecati?
                    Voluptate at, dolor hic, harum quisquam doloribus! Ipsa aliquam, sunt incidunt cumque maiores quos ab.
                </p>
                <p> <a href="#" class="btn btn-default" role="button">Mas detalles</a></p>
            </div>
        </div>
    </div>
    <div class="art col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/maradona-con-bochini.jpg" alt="...">
            <div class="caption">
                <h3>Bocchini es el idolo de Maradona</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repellat repellendus sint eos aut obcaecati?
                    Voluptate at, dolor hic, harum quisquam doloribus! Ipsa aliquam, sunt incidunt cumque maiores quos ab.
                </p>
                <p> <a href="#" class="btn btn-default" role="button">Mas detalles</a></p>
            </div>
        </div>
    </div>
    <div class="art col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/estadio_libert_techado.jpg" alt="...">
            <div class="caption">
                <h3>La comision directiva tiene planeado techar el estadio</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repellat repellendus sint eos aut obcaecati?
                    Voluptate at, dolor hic, harum quisquam doloribus! Ipsa aliquam, sunt incidunt cumque maiores quos ab.
                </p>
                <p> <a href="#" class="btn btn-default" role="button">Mas detalles</a></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="art col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/rojo_goleada_racing.jpg" alt="...">
            <div class="caption">
                <h3>El rojo ganó el clasico por goleada</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repellat repellendus sint eos aut obcaecati?
                    Voluptate at, dolor hic, harum quisquam doloribus! Ipsa aliquam, sunt incidunt cumque maiores quos ab.
                </p>
                <p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#seccion">
                        Mas detalles
                    </button>
                </p>
                <!-- Modal -->
                <div class="modal fade" id="seccion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">El rojo ganó el clasico por goleada</h4>
                            </div>
                            <div class="modal-body">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia deserunt voluptatum est quae explicabo fugit harum, voluptatem.
                                Veritatis recusandae illum adipisci distinctio amet nemo. Pariatur dolorem dolore itaque, blanditiis
                                magni. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque ipsa repudiandae earum ad
                                voluptatibus, qui quia, sed omnis modi quas dolorem, odio, error perferendis asperiores molestias
                                pariatur. Provident incidunt, temporibus!

                                <img src="~/Content/img/rojo_goleada_racing.jpg" alt="goleada a racing">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal -->

    <div class="art col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/maradona-con-bochini.jpg" alt="...">
            <div class="caption">
                <h3>Bocchini es el idolo de Maradona</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repellat repellendus sint eos aut obcaecati?
                    Voluptate at, dolor hic, harum quisquam doloribus! Ipsa aliquam, sunt incidunt cumque maiores quos ab.
                </p>
                <p> <a href="#" class="btn btn-default" role="button">Mas detalles</a></p>
            </div>
        </div>
    </div>
    <div class="art col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/Content/img/estadio_libert_techado.jpg" alt="...">
            <div class="caption">
                <h3>La comision directiva tiene planeado techar el estadio</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit repellat repellendus sint eos aut obcaecati?
                    Voluptate at, dolor hic, harum quisquam doloribus! Ipsa aliquam, sunt incidunt cumque maiores quos ab.
                </p>
                <p> <a href="#" class="btn btn-default" role="button">Mas detalles</a></p>
            </div>
        </div>
    </div>
</div>
